body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;}
#root {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;}
li, div{
  margin: 10px 0;
}